gradio==5.5.0
tensorflow==2.14.0
numpy==1.26.4
aiofiles==23.2.1
fastapi==0.115.4
ffmpy==0.4.0
gradio-client==1.4.2
huggingface-hub==0.26.2
markupsafe==2.1.5
pydub==0.25.1
python-multipart==0.0.12
ruff==0.7.2
safehttpx==0.1.1
semantic-version==2.10.0
starlette==0.41.2
tomlkit==0.12.0
uvicorn==0.32.0
websockets==12.0
